@charset "UTF-8";

/*DECLARAÇÕES GERAIS*/


*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif
}

body {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
}

h1 {
    color: aliceblue;
    padding: 10px;
}


/*DECLARAÇÕES RETRATO*/


@media screen and (orientation: portrait) { /* DESENVOLVER A PÁGINA NO MODO RETRATO*/
    body {
    background: url(../imagens/cev-portrait.jpg);
    background-position: center bottom;
}
}



/*DECLARAÇÕES PAISAGEM*/


@media screen and (orientation: landscape) { /* DESENVOLVER A PÁGINA NO MODO PAISAGEM*/
        body {
    background: url(../imagens/cev-landscape.jpg);
    background-position: left bottom;
}
}